header {
    width: calc(100% - 6px);
    height: 100px;
    margin: 50px 0 50px;
    padding: 3px;
    text-align: right;
    min-width: 1300px
}

header table {
    margin: 0 0 0 220px;
    font-size: large;
    font-weight: normal;
    text-align: right;
    color: white;
}

header table a {
    color: #fff;
    text-decoration: none;
}
header td{
    padding: 0 15px 0 0;
}

.logo {
    position: absolute;
    top: 13px;
    left: 25px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: #0064be url("/pages/img/logo_small_white.png") round;
    border: solid 5px #0064be;
    transition: 0.5s
}

.logo:hover {
    /*background: #f0f0be url("/pages/img/logo_small.png") round;*/
    /*border: solid 5px #f0f0be;*/
    border: solid 5px #0084be;
}

.search_form {
    height: 30px;
    width: 775px;
    min-width: 250px;
    margin-left: 210px;
    margin-top: 10px;
}

.cart {
    width: 70px;
    height: 70px;
    margin-top: 12px;
    background: #0064be url("/pages/img/cart_white.png") round;
    transition: 0.5s;
    float: left;
}

.cart:hover {
    border-bottom: solid 2px white;
}

.login_form {
    color: white;
    float: right;
    text-align: left;
    margin-right: 20px;
}

.login_form input {
    margin: 5px 0;
}

.width80 { width: 79%}
.width100 { width: 100%}
.width20 { width: 19%}
.height100 { height: 100%}