menu {
    width: 250px;
    height: 500px;
    padding: 0;
    margin-top: 0;
    border-right: 1px solid #0064be
}

ul {
    margin: 0;
    margin-left: 10px;
    padding: 0
}

li{
    list-style: none
}

li a{
    display: block;
    width: 93%;
    min-width: 150px;
    color: #0064be;
    text-decoration: none;
    text-align: left;
    border-left: 5px solid #0064be;
    border-bottom: 1px solid grey;
    padding: 7px 0 7px 10px;
    margin-bottom: 10px;
    transition: 0.5s
}

li a:hover {
    color: white;
    background: #0064be;
    /*border-left: 5px solid white;*/
    border-bottom: 1px solid #0064be;
}

li ul {
    display: none
}

li:hover ul {
    display: block
}
