.bodybg { background: #f0f0be }
.menubg { background: #f0f0be }
.headerbg { background: #0064be }
.footerbg { background: #0064be }
.contentbg { background: #feffc8 }

.mrg-btm { margin-bottom: 15px }
.mrg-rgh { margin-right: 5px }
.mrg-lft { margin-left: 10px }

.fleft { float: left }

.border {
    box-shadow: 1px 1px 5px grey;
    border-radius: 3px
}

body { padding: 0;  margin: 0}

p {
    text-align: center;
}