<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--<welcome-file-list>-->
        <!--<welcome-file>/</welcome-file>-->
    <!--</welcome-file-list>-->

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>servlets.MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern></url-pattern>
        <url-pattern>/nextPage</url-pattern>
        <url-pattern>/prevPage</url-pattern>
        <url-pattern>/toFirstPage</url-pattern>
        <url-pattern>/toLastPage</url-pattern>
    </servlet-mapping>

</web-app>